.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 30px;
  row-gap: 70px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
}

.image-container {
  // border: 1px solid #eae9e9;
  background-color: #eae9e9;

  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-top: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.item-container {
  // display: flex;
  // flex-direction: column;
  min-width: 250px;
  min-height: 320px;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
